.body {
  background-color: #5dbe88;
}

.ChargeTitle {
  color: white;
  margin: 2rem 0 2rem 0;
}

.card-text {
  padding: 10px 0px 10px 0px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

#map {
  min-height: 380px;
  width: 100%;
}
