img {
    max-width: 100%;
    height: auto;
}

.body {
    background-color: #5dbe88;
}

.ChargeTitle {
    color: white;
    margin: 1rem 0 0.5rem 0;
    padding: 0 1% 0 1%;
}

.card-text {
    padding: 10px 0px 10px 0px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

#map {
    padding-bottom: 30%;
    width: 100%;
}

.headerIMG {
    width: 15%;
    min-width: 200px;
}